[Unit]
Description=Gunicorn server for phelukas.com.br

[Service]
Restart=on-failure  
User=ubuntu  
WorkingDirectory=/home/ubuntu/Documents/TDD  
EnvironmentFile=/home/ubuntu/Documents/TDD/.env  

ExecStart=/home/ubuntu/Documents/TDD/venv/bin/gunicorn --bind unix:/tmp/phelukas.com.br.socket superlists.wsgi:application  

[Install]
WantedBy=multi-user.target 


server {
    listen 80;
    server_name superlists-staging.ottg.eu;

    location /static {
        alias /home/elspeth/sites/superlists-staging.ottg.eu/static;
    }

    location / {
        proxy_pass http://unix:/tmp/phelukas.com.br.socket;
        proxy_set_header Host $host;
    }
}

server {
    listen 80;
    server_name phelukas.com.br;

    location /static {
        alias /home/ubuntu/Documents/TDD/static;
    }

    location / {
        proxy_pass http://unix:/tmp/phelukas.com.br.socket;
        proxy_set_header Host $host;
    }
}
